# Server Configuration
PORT=3000
IP_MACHINE=172.20.10.7
IP_ESP32=172.20.10.8

# MongoDB Configuration (CHANGE THIS!)
MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/YOUR_DATABASE?retryWrites=true&w=majority&appName=Cluster0

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here_CHANGE_THIS
NODE_ENV=development

# Email Configuration (Gmail)
EMAIL_USER=your-email@gmail.com
EMAIL_APP_PASSWORD=your-16-char-app-password
FRONTEND_URL=http://localhost:3001

